#Problem 1
#A basket contains 20 mangoes, 35 guavas, and 45 papayas.
#Find the percentage of each fruit in the basket.

In [ ]:
mangoes=20
guavas=35
papayas=45

In [ ]:
total_percentage=mangoes*100/(mangoes+guavas+papayas)
print(total_percentage)

20.0

In [ ]:
total_percentage=guavas*100/(mangoes+guavas+papayas)
print(total_percentage)

35.0

In [ ]:
total_percentage=papayas*100/(mangoes+guavas+papayas)
print(total_percentage)

45.0

# Problem 2
#In a class of 80 students, 35 are boys and the rest are girls.
#Calculate the percentage of boys and girls in the class.

In [ ]:
students=80
boys=35

In [ ]:
girls=students-boys
print(girls)

45

In [ ]:
total_percentage=boys*100/(boys+girls)
print(total_percentage)

43.75

In [ ]:
total_percentage=girls*100/(boys+girls)
print(total_percentage)

56.25

# Problem 3
#A library has 150 science books, 200 commerce books, and 250 arts books.
#Find the percentage of each stream's books in the library.

#

In [ ]:
science_books=150
commerce_books=200
arts_books=250

In [ ]:
total_percentage=science_books*100/(science_books+commerce_books+arts_books)
print(total_percentage)

25.0

In [ ]:
total_percentage=commerce_books*100/(science_books+commerce_books+arts_books)
print(total_percentage)

33.333333333333336

In [ ]:
total_percentage=arts_books*100/(science_books+commerce_books+arts_books)
print(total_percentage)

41.666666666666664

#Problem 4
#In a company, there are 120 software engineers, 80 data analysts, and 50 HR employees.
#Calculate the percentage of each type of employee in the company.

In [ ]:
software_engineers=120
data_analysts=80
HR_employees=50

In [ ]:
total_percentage=software_engineers*100/(software_engineers+data_analysts+HR_employees)
print(total_percentage)

48.0

In [29]:
total_percentage=data_analysts*100/(software_engineers+data_analysts+HR_employees)
print(total_percentage)

32.0

In [28]:
total_percentage=HR_employees*100/(software_engineers+data_analysts+HR_employees)
print(total_percentage)

20.0

# Problem 5
#A farmer harvested 400 kg of rice, 300 kg of wheat, and 300 kg of maize this season.
#Find the percentage of each crop yield.

In [32]:
rice=400
wheat=300
maize=300

In [33]:
total_percentage=rice*100/(rice+wheat+maize)
print(total_percentage)

40.0

In [34]:
total_percentage=wheat*100/(rice+wheat+maize)
print(total_percentage)

30.0

In [36]:
total_percentage=maize*100/(rice+wheat+maize)
print(total_percentage)

30.0

#Problem 6
#In a survey of 1000 people, 250 prefer tea, 500 prefer coffee, and 250 prefer juice.
#Calculate the percentage preference for each drink.

In [37]:
tea=250
coffee=500
juice=250

In [38]:
total_percentage=tea*100/(tea+coffee+juice)
print(total_percentage)

25.0

In [39]:
total_percentage=coffee*100/(tea+coffee+juice)
print(total_percentage)

50.0

In [40]:
total_percentage=juice*100/(tea+coffee+juice)
print(total_percentage)

25.0

#Problem 7
#An exam has 20 questions in Maths, 15 in Science, and 25 in English.
#Find the percentage of questions for each subject in the paper.

In [41]:
maths=20
science=15
english=25

In [42]:
total_percentage=maths*100/(maths+science+english)
print(total_percentage)

33.333333333333336

In [43]:
total_percentage=science*100/(maths+science+english)
print(total_percentage)

25.0

In [44]:
total_percentage=english*100/(maths+science+english)
print(total_percentage)

41.666666666666664

#Problem 8
#A shop sold 180 pens, 120 pencils, and 100 erasers in a week.
#Calculate the percentage of each item sold.

In [45]:
pens=180
pencils=120
erasers=100

In [46]:
total_percentage=pens*100/(pens+pencils+erasers)
print(total_percentage)

45.0

In [47]:
total_percentage=pencils*100/(pens+pencils+erasers)
print(total_percentage)

30.0

In [48]:
total_percentage=erasers*100/(pens+pencils+erasers)
print(total_percentage)

25.0

#Problem 9
#In a company's expenses, 40% is salary, 30% is rent, and the remaining is utilities.
#Find the amount spent on utilities if the total monthly expense is ₹2,00,000.

In [50]:
salary=40
rent=30

In [51]:
total_percentage=salary*100/(salary+rent)
print(total_percentage)

57.142857142857146

In [52]:
total_percentage=rent*100/(salary+rent)
print(total_percentage)

42.857142857142854

#During a college fest, there were 200 students participating in three competitions:

#60 in Coding, 80 in Quiz, and 60 in Dance.

#You had to guess the number of participants in each competition.

#You correctly guessed 45 in Coding,

#60 in Quiz,

#40 in Dance.

✅ Question:
#Calculate your accuracy percentage for each competition.

In [94]:
coding=60
quiz=80
dance=60
correcty_guess_cooding=45
correcty_guess_quiz=60
correcty_guess_dance=40

In [98]:
accuracy_percentage=correcty_guess_cooding*100/(coding)
print(accuracy_percentage)

75.0

In [99]:
acccuracy_percentage=correcty_guess_quiz*100/(quiz)
print(accuracy_percentage)

75.0

# Problem 2
#In a library, there are 120 books in total:

#50 are fiction, 40 are science, and 30 are history books.

#Your friend tried to guess the count and correctly guessed:

#30 fiction,

#25 science,

#20 history books.

✅ Question:
#Find your friend's accuracy percentage in each category.

In [86]:
fiction=50
science=40
history=30
correcty_guess_fiction=30
crrecty_guess_science=25
correctly_guess_history=20

In [89]:
accuracy_percentage=correcty_guess_fiction*100/(fiction)
print(accuracy_percentage)

60.0

In [92]:
accuracy_percentage=crrecty_guess_science*100/(science)
print(accuracy_percentage)

62.5

In [93]:
accuracy_percentage=correctly_guess_history*100/(history)
print(accuracy_percentage)

66.66666666666667

#Problem 3
#A survey was conducted with 150 participants:

#70 preferred tea, 50 preferred coffee, and 30 preferred juice.

#You guessed the numbers and correctly identified:

#50 tea lovers,

#40 coffee lovers,

#20 juice lovers.

✅ Question:
#Calculate your accuracy percentage for each drink preference.

In [78]:
tea=70
coffee=50
juice=30
correcty_guess_tea=50
correcty_guess_coffee=40
correcty_guess_juice=20

In [80]:
accuracy_percentage=correcty_guess_tea*100/(tea)
print(accuracy_percentage)

71.42857142857143

In [84]:
accuracy_percentage=correcty_guess_coffee*100/(coffee)
print(accuracy_percentage)

80.0

In [85]:
accuracy_percentage=correcty_guess_juice*100/(juice)
print(accuracy_percentage)
#

66.66666666666667

#Problem 2
#For the function f(x) = 2x² + x - 3,

✅ Question:
#Calculate f(x) at

#x = -2

#x = 1

#x = 3

In [100]:
function=2*(-2)**2+(-2)-3
print(function)

3

In [101]:
function=2*(1)**2+(1)-3
print(function)

0

In [102]:
function=2*(3)**2+(3)-3
print(function)

18

#Problem 3
#Given f(x) = x² - 4x + 1,

✅ Question:
#Find the value of f(x) at

#x = -1

#x = 0

#x = 4

In [103]:
value=(-1)**2-4*(-1)+1
print(value)

6

In [104]:
value=(0)**2-4*(0)+1
print(value)

1

In [106]:
value=(4)**2-4*(4)+1
print(value)

1